section[data-testid='stSidebar'] {
    background-color: #111;
    min-width:unset !important;
    width: unset !important;
    flex-shrink: unset !important;
    
}

button[kind="header"] {
    background-color: #111;
    color:rgb(180, 167, 141)
}

@media(hover){
    /* header element to be removed */
    header[data-testid="stHeader"] {
        display:none;
    }

    /* The navigation menu specs and size */
    section[data-testid='stSidebar'] > div {
        height:100%;
        width: 75px;
        display:hidden;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
        color:rgb(250,250,250);
    }

    /* The navigation menu open and close on hover and size */
    section[data-testid='stSidebar'] > div {
    height: 100%;
    width: 250px; /* Put some width to hover on. */
    /* } 

    /* ON HOVER 
    section[data-testid='stSidebar'] > div:hover{
    width: 200px;
    }*/

    /* The button on the streamlit navigation menu - hidden */
    button[kind="header"] {
        display: hidden;
    }
}
     
@media(max-width: 272px){
    
    section[data-testid='stSidebar'] > div {
        width:10rem;
    }
}
 